[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Go - CQRS / Event Sourcing made easy - Go
[access "refs/*"]
	owner = group user/mishudark (mishudark)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mishudark (mishudark)
	label-Verified = -1..+1 group user/mishudark (mishudark)
	push = group user/mishudark (mishudark)
	read = group user/mishudark (mishudark)
	rebase = group user/mishudark (mishudark)
	removeReviewer = group user/mishudark (mishudark)
	submit = group user/mishudark (mishudark)
[access "refs/heads/*"]
	create = group user/mishudark (mishudark)
	push = +force group user/mishudark (mishudark)
	pushMerge = group user/mishudark (mishudark)
	read = group user/mishudark (mishudark)
[access "refs/tags/*"]
	push = group user/mishudark (mishudark)
	push = +force group user/mishudark (mishudark)
